<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/eventDetail.css">
    <% if (typeof extraCSS !== 'undefined') { %>
        <% extraCSS.forEach( (file) => { %>
            <link rel="stylesheet" href="/css/<%= file %>.css">
        <% } ) %>
    <% } %>
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/images/ColorStack_UNC-Charlotte_Logo.png" alt="Logo" id="logo">
            <nav id="user-navigation">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/events">All Events</a></li>
                    <% if (locals.user) { %>
                        <li><a href="/events/new">New Event</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } else { %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>

        <% if (locals.successMessage) { %>
            <div class="alert alert-success">
                <%= successMessage %>
                <button type="button" class="close-alert">&times;</button>
            </div>
        <% } %>

        <% if (locals.errorMessage) { %>
            <div class="alert alert-danger">
                <%= errorMessage %>
                <button type="button" class="close-alert">&times;</button>
            </div>
        <% } %>
    </header>
    <main>
</body>
</html>
