<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/eventDetail.css">
    <% if (typeof extraCSS !== 'undefined') { %>
        <% extraCSS.forEach( (file) => { %>
            <link rel="stylesheet" href="/css/<%= file %>.css">
        <% } ) %>
    <% } %>
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/images/ColorStack_UNC-Charlotte_Logo.png" alt="Logo" id="logo">
            <nav id="user-navigation">
                <ul class="nav-links">
                    <li><a href="/events">Events</a></li>
                    <% if(user) { %>
                        <li><a href="/events/new">New Event</a></li>
                        <li><a href="/users/profile">Profile (<%= user.firstName %>)</a></li>
                        <li><a href="/users/logout">Logout</a></li>
                    <% } else { %>
                        <li><a href="/users/new" id="signup">Sign Up</a></li>
                        <li><a href="/users/login" id="login">Login</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </header>
    <main>
</body>
</html>
