<%- include('./partials/header.ejs') %>
<div class="content-container">
    <h1>About ColorStack UNC Charlotte</h1>
    <div class="about-content">
        <p>ColorStack is a community of Black and Latinx college students pursuing careers in technology. Our mission is to increase the number of Black and Latinx students pursuing and completing computing degrees.</p>
        
        <h2>Our Mission</h2>
        <p>We aim to create a supportive community where students can:</p>
        <ul>
            <li>Connect with peers and mentors</li>
            <li>Access professional development opportunities</li>
            <li>Participate in technical workshops</li>
            <li>Find internship and job opportunities</li>
        </ul>
        
        <h2>Join Us</h2>
        <p>Whether you're just starting your journey in tech or looking to expand your network, ColorStack UNC Charlotte welcomes you!</p>
    </div>
</div>
<%- include('./partials/footer.ejs') %>