<%- include('./partials/header.ejs')%>
    <main>
        <div class="error-container">
            <h2>Error <%= error.status %></h2>
            <p><%= error.message %></p>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>
